.player,
.computer {
  background-color: rgb(70, 70, 70);
  padding:2rem 1rem 5rem 1rem;
  border-radius:1rem;
}

.item {
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 3px;
  box-shadow: 4px 5px 0px black;
  border-bottom: 2px solid;
  border-right: 1px solid;
}

.item:hover {
  background-color: lightgrey;
    box-shadow: 3px 3px 1px black;
    border-bottom: 2px solid;
    transform: translate(1%, -1%);
    transition: all 0.1s ease-in;
}